In [ ]:
!pip install pomegranate
!pip install pygraphviz

Requirement already satisfied: pomegranate in c:\users\t954349\anaconda3\lib\site-packages (0.13.4)
Requirement already satisfied: scipy>=0.17.0 in c:\users\t954349\anaconda3\lib\site-packages (from pomegranate) (1.4.1)
Requirement already satisfied: pyyaml in c:\users\t954349\anaconda3\lib\site-packages (from pomegranate) (5.3)
Requirement already satisfied: numpy>=1.8.0 in c:\users\t954349\anaconda3\lib\site-packages (from pomegranate) (1.18.1)
Requirement already satisfied: networkx>=2.0 in c:\users\t954349\anaconda3\lib\site-packages (from pomegranate) (2.4)
Requirement already satisfied: joblib>=0.9.0b4 in c:\users\t954349\anaconda3\lib\site-packages (from pomegranate) (0.14.1)
Requirement already satisfied: decorator>=4.3.0 in c:\users\t954349\anaconda3\lib\site-packages (from networkx>=2.0->pomegranate) (4.4.1)

In [1]:
import pickle
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
from sklearn.preprocessing import MinMaxScaler

import mnist
%matplotlib inline

from pomegranate import *
# import pygraphviz

In [2]:
data = pd.read_csv('https://github.com/nsethi31/Kaggle-Data-Credit-Card-Fraud-Detection/blob/master/creditcard.csv?raw=true')

y = data['Class']
data.index = data['Time']
data.drop(['Time'], axis =1, inplace=True)

In [3]:
data_sample = data.iloc[:3000,23:]
# y_sample = y[:5000]
# data_sample.head(3)
data_sample = data_sample.values
data_sample = MinMaxScaler(feature_range=(0,100)).fit_transform(data_sample)
data_sample = data_sample.astype(int)
pd.DataFrame(data_sample)

       0   1   2   3   4  5  6
0     66  53  22  59  40  1  0
1     53  54  29  57  41  0  0
2     43  38  23  57  40  4  0
3     29  69  21  58  42  1  0
4     68  42  37  60  44  0  0
...   ..  ..  ..  ..  .. .. ..
2995  80  67  19  58  41  0  0
2996  74  53  27  54  42  0  0
2997  67  50  19  47  34  0  0
2998  67  50  19  47  34  0  0
2999  67  50  19  47  34  0  0

[3000 rows x 7 columns]

In [ ]:
# X = numpy.random.randint(5, size=(10000, 6))
model = MarkovNetwork.from_samples(data_sample, n_jobs = 3)

In [ ]:
# state_names = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# model = BayesianNetwork.from_samples(data_sample, n_jobs = 3)

In [ ]:
# model.predict(data_sample)

In [ ]:
# model.plot()
# model.structure
# HiddenMarkovModel.from_samples(data_sample, 5, X, max_iterations=5)

In [ ]:
data_sample.shape